
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url("fonts/OpenSans-Bold-webfont.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url("fonts/OpenSans-Semibold-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

body{
    font-family: 'Open Sans Semibold';
    background: linear-gradient(rgba(1,1,1,0.3), rgba(1,1,1,0.3), rgba(0,0,0,0));
    -webkit-user-select: none;
}
body div{
    height: 260px;
    color: grey;
}

.center{
    text-align:center;
}

#top-message{
    text-align:center;
    color: rgba(1,1,1,0.25);
    height: 20px;
    /*text-shadow: 0 1px 2px rgba(1,1,1,0.15);*/
}

#info-message{
    text-align:center;
    color: rgba(1,1,1,0.25);
    height: 20px;
    margin-top:6px;
    font-size: 0.8em;
    /*text-shadow: 0 1px 2px rgba(1,1,1,0.15);*/
}
#box-message {
    height: auto;
    margin: auto;
    margin-top:10px;
    font-size: 0.8em;
}
#dropmessage{
    width:200px;
    height:200px;
    position:fixed;
}

#droparea{
    height: 100px;
}

#droplogo{
    height: 200px;
    width: 200px;
    /*box-shadow:  0px 0px 12px grey;*/
    border-radius: 2em;
    margin: 0 auto;
    margin-top: 30px;
    /*margin-bottom: 30px;*/
    border: 6px dashed rgba(1,1,1,0.15);   
}

#droplogo:hover {
    border-color: rgba(1,1,1,0.35);
}

.error {
    color: red;
}

#arrow{
    /*position: absolute;*/
    margin-top:20px;
    margin-left:75px;
    width: 50px;
    height: 50px;
}


#arrow:before{
    content:"";
    position: absolute;
    margin-top:50px;
    margin-left:-40px;
    border-top: 40px solid rgba(1,1,1,0.15);
    border-left: 40px solid rgba(1,1,1,0);
    width: 0px;
}


#arrow:after{
    content:"";
    position: absolute;
    margin-top:50px;
    margin-left:0px;
    border-top: 40px solid rgba(1,1,1,0.15);
    border-right: 40px solid rgba(1,1,1,0);
    width: 0px;
}

.disabled {
    background-color: #777;
}

.enabled {
    background: #ff5c00 url(alert-overlay.png) repeat-x;
    cursor: pointer;
}
.cursored {
    cursor: pointer;
    color: blue;
    text-decoration:underline;
  }

#airplay{
    margin:auto;
    width: 100px;
    height: 100px;
}
#airplay img{
    max-width:100%; 
    max-height:100%;
    background-image: url(AirplayIcon.png);
}

.processing-icon {
    content:"Hola";
    margin:auto;
    background-image: url(loading.gif);
    width:32px;
    height:32px;
}

.visible{
    background-color: rgba(1,1,1,0.15);
}

.hidden {
    visibility: hidden;
}

#airplay-container {
    height:100px;
}

#magnet {
    height:100px;
}

#processing {
    height: 32px;
}
